<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.manuelpeinado.fadingactionbar.extras.actionbarsherlock"
    android:versionCode="312"
    android:versionName="3.1.2" >

    <uses-sdk
        android:targetSdkVersion="19"
        android:minSdkVersion="8"/>

    <application />
</manifest>
