<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.manuelpeinado.fadingactionbar.demo"
    android:versionCode="312"
    android:versionName="3.1.2" >

    <uses-sdk
        android:targetSdkVersion="19"
        android:minSdkVersion="14"/>

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.manuelpeinado.fadingactionbar.demo.HomeActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.manuelpeinado.fadingactionbar.demo.ScrollViewActivity"
            android:icon="@drawable/ic_location_map"
            android:label="@string/new_york_city"
            android:theme="@style/AppTheme.TranslucentActionBar" />
        <activity
            android:name="com.manuelpeinado.fadingactionbar.demo.ListViewActivity"
            android:icon="@drawable/ic_location_map"
            android:label="@string/new_york_city"
            android:theme="@style/AppTheme.TranslucentActionBar" />
        <activity
            android:name="com.manuelpeinado.fadingactionbar.demo.LightBackgroundActivity"
            android:icon="@drawable/ic_location_map"
            android:label="@string/new_york_city"
            android:theme="@style/AppTheme.TranslucentActionBar" />
        <activity
            android:name="com.manuelpeinado.fadingactionbar.demo.LightActionBarActivity"
            android:icon="@drawable/ic_location_map_dark"
            android:label="@string/new_york_city"
            android:theme="@style/AppTheme.Light.TranslucentActionBar" />
        <activity
            android:name="com.manuelpeinado.fadingactionbar.demo.SampleFragmentActivity"
            android:icon="@drawable/ic_location_map_dark"
            android:label="@string/new_york_city"
            android:theme="@style/AppTheme.Light.TranslucentActionBar" />
        <activity
            android:name="com.manuelpeinado.fadingactionbar.demo.NoParallaxActivity"
            android:icon="@drawable/ic_location_map"
            android:label="@string/new_york_city"
            android:theme="@style/AppTheme.TranslucentActionBar" />
        <activity
            android:name="com.manuelpeinado.fadingactionbar.demo.NavigationDrawerActivity"
            android:icon="@drawable/ic_location_map"
            android:label="@string/choose_city"
            android:theme="@style/AppTheme.TranslucentActionBar" />
        <activity
            android:name="com.manuelpeinado.fadingactionbar.demo.HeaderOverlayActivity"
            android:icon="@drawable/ic_location_map"
            android:label="@string/new_york_city"
            android:theme="@style/AppTheme.TranslucentActionBar" />
        <activity
            android:name="com.manuelpeinado.fadingactionbar.demo.WebViewActivity"
            android:icon="@drawable/ic_location_map"
            android:label="@string/new_york_city"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TranslucentActionBar" />
        <activity
            android:name="com.manuelpeinado.fadingactionbar.demo.ShortContentActivity"
            android:icon="@drawable/ic_location_map"
            android:label="@string/new_york_city"
            android:theme="@style/AppTheme.TranslucentActionBar" />
    </application>

</manifest>